@using worker.office_package.helper_models.info_models
@{
    ViewData["Title"] = "CreateItpDocument";
}
@model itp_temp_info

<div class="text-center">
    <h1 class="display-4">Создание документа инд. плана преподавателя</h1>
</div>

<Form method="post" style="margin-left:-150px">
    <div class="text-md-center">
        <input id="id" type="hidden" name="id" readonly value="@ViewBag.id" />
    </div>
    <div class="text-md-center">
        <input id="id" type="text" name="docName"/>
    </div>
    <h3 class="display-6">
        Учебная работа - осенний семестр. Часы фактические
    </h3>
    <table id="dispA" class="table">
        <thead>
            <tr>
                <th>
                    Студентов
                </th>
                <th>
                    Лекции
                </th>
                <th>
                    Практ. занятия и семинары
                </th>
                <th>
                    Лабораторные занятия
                </th>
                <th>
                    Курсовое проектирование
                </th>
                <th>
                    Консультации
                </th>
                <th>
                    Зачеты
                </th>
                <th>
                    Экзамены
                </th>
                <th>
                    Диф. зачеты
                </th>
                <th>
                    Руководство практиками студентов
                </th>
                <th>
                    Расчетно-графические работы
                </th>
                <th>
                    рук-во дипл. проектом (вып. работой)
                </th>
                <th>
                    рецензирование дипл. проектов (вып. работ)
                </th>
                <th>
                    работа в ГИА
                </th>
                <th>
                    Рефераты, РГР
                </th>
                <th>
                    руководство аспирантами
                </th>
                <th>
                    Другие виды работ
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameA[]" type="number" class="form-control" />
                </th>
            </tr>
        </tbody>
    </table>

    <h3 class="display-6">
        Учебная работа - весений семестр. Часы фактические
    </h3>
    <table id="dispB" class="table">
        <thead>
            <tr>
                <th>
                    Студентов
                </th>
                <th>
                    Лекции
                </th>
                <th>
                    Практ. занятия и семинары
                </th>
                <th>
                    Лабораторные занятия
                </th>
                <th>
                    Курсовое проектирование
                </th>
                <th>
                    Консультации
                </th>
                <th>
                    Зачеты
                </th>
                <th>
                    Экзамены
                </th>
                <th>
                    Диф. зачеты
                </th>
                <th>
                    Руководство практиками студентов
                </th>
                <th>
                    Расчетно-графические работы
                </th>
                <th>
                    рук-во дипл. проектом (вып. работой)
                </th>
                <th>
                    рецензирование дипл. проектов (вып. работ)
                </th>
                <th>
                    работа в ГИА
                </th>
                <th>
                    Рефераты, РГР
                </th>
                <th>
                    руководство аспирантами
                </th>
                <th>
                    Другие виды работ
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
                <th>
                    <input name="dispNameB[]" type="number" min="0" max="99" class="form-control" />
                </th>
            </tr>
        </tbody>
    </table>

    <h3 class="display-6">
        2.1. Подготовка к лекционным, практическим, семинарским, лабораторным занятиям
        и другие виды учебно-методической работы (для программ ВО)
    </h3>
    <table id="work21" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_21)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work21_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work21_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        2.2. Подготовка электронных обучающих ресурсов (ЭОР) в ЭИОС
        и другие виды учебно-методической работы (для программ ВО)
    </h3>
    <table id="work22" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_22)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work22_1[]" type="number" min="0" max="99"  class="form-control" />
                    </td>
                    <td>
                        <input name="work22_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        2.3. Использование в учебном процессе электронных обучающих ресурсов (ЭОР)
    </h3>
    <table id="work23" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_23)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work23_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work23_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        2.4. Написание и переработка учебных учебников, учебных пособий и других учебно-методических материалов
    </h3>
    <table id="work24" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_24)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work24_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work24_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        3.1. Написание и подготовка к изданию монографий, научных статей, докладов, заявок на избретение
    </h3>
    <table id="work31" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_31)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work31_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work31_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        3.2. Другие виды научно-исследовательских работ
    </h3>
    <table id="work32" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_32)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work32_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work32_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        4.1. Участие в проведении работы по профессиональной ориентации молодежи при поступлении в вуз, исполнение обязанностей, проведение олимпиад, конференций и другие организационно-методические работы
    </h3>
    <table id="work41" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_41)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work41_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work41_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="display-6">
        4.2. Организационно-методическая работа по физической подготовке
    </h3>
    <table id="work41" class="table">
        <thead>
            <tr>
                <th>
                    Вид работы
                </th>
                <th>
                    факт. выполнения - осенний семестр
                </th>
                <th>
                    факт. выполнения - весенний семестр
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.workTypes_42)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(i => item)
                    </th>
                    <td>
                        <input name="work42_1[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                    <td>
                        <input name="work42_2[]" type="number" min="0" max="99" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-end">
        <input type="submit" value="Создать документ" class="btn btn-primary" style="background-color:#FF6666" />
    </div>
</Form>